services:
  app:
    image: fsthub_django
    container_name: fsthub_django
    build: .
    network_mode: bridge
    environment:
      PUID: ${CONTAINER_PUID}
      GUID: ${CONTAINER_GUID}
      FSTHUB_URL_PREFIX: ${FSTHUB_URL_PREFIX}
      DJANGO_SECRET_KEY: ${DJANGO_SECRET_KEY}
      DJANGO_DEBUG: ${DJANGO_DEBUG}
      DJANGO_HOST: ${DJANGO_HOST}
      DJANGO_STATIC_URL: ${DJANGO_STATIC_URL}
    ports:
      - "${CONTAINER_PORT}:8000"
    volumes:
      - ./data:/data
      - ./static:/static
