networks:
  backend:
    driver: bridge

services:
  app:
    image: ghcr.io/afmigoo/fsthub:v0.4.1-python3.14
    container_name: fsthub_django
    build:
      target: app
    environment:
      PUID: ${CONTAINER_PUID}
      GUID: ${CONTAINER_GUID}
      FSTHUB_URL_PREFIX: ${FSTHUB_URL_PREFIX}
      DJANGO_SECRET_KEY: ${DJANGO_SECRET_KEY}
      DJANGO_STATIC_URL: ${DJANGO_STATIC_URL}
      DJANGO_DEBUG: ${DJANGO_DEBUG}
      DJANGO_HOST: ${DJANGO_HOST}
      DJANGO_SUPERUSER_USERNAME: ${DJANGO_SUPERUSER_USERNAME}
      DJANGO_SUPERUSER_PASSWORD: ${DJANGO_SUPERUSER_PASSWORD}
      DJANGO_SUPERUSER_EMAIL: ${DJANGO_SUPERUSER_EMAIL}
    networks:
      - backend
    volumes:
      - ./data:/data
      - ./static:/static

  nginx:
    image: nginx:alpine
    container_name: fsthub_nginx
    environment:
      PUID: ${CONTAINER_PUID}
      GUID: ${CONTAINER_GUID}
      FSTHUB_URL_PREFIX: ${FSTHUB_URL_PREFIX}
    networks:
      - backend
    depends_on:
      - app
    ports:
      - "${CONTAINER_PORT:-8000}:80"
    volumes:
      - ./nginx/default.conf.template:/etc/nginx/templates/default.conf.template:ro
      - ./static:/var/www/fsthub/static:ro

  builder:
    profiles:
      - donotstart
    image: ghcr.io/afmigoo/hfst-builder:v1-python3.14
    build:
      target: builder
