networks:
  backend:
    driver: bridge

volumes:
  front-static:

services:
  app:
    image: ghcr.io/afmigoo/fsthub-app:v0.4.4-python3.14
    container_name: fsthub_django
    environment:
      PUID: ${CONTAINER_PUID}
      GUID: ${CONTAINER_GUID}
      FSTHUB_URL_PREFIX: ${FSTHUB_URL_PREFIX}
      DJANGO_SECRET_KEY: ${DJANGO_SECRET_KEY}
      DJANGO_STATIC_URL: ${DJANGO_STATIC_URL}
      DJANGO_DEBUG: ${DJANGO_DEBUG}
      DJANGO_HOST: ${DJANGO_HOST}
      DJANGO_SUPERUSER_USERNAME: ${DJANGO_SUPERUSER_USERNAME}
      DJANGO_SUPERUSER_PASSWORD: ${DJANGO_SUPERUSER_PASSWORD}
      DJANGO_SUPERUSER_EMAIL: ${DJANGO_SUPERUSER_EMAIL}
    networks:
      - backend
    volumes:
      - ./data:/data
      - front-static:/static

  server:
    image: ghcr.io/afmigoo/fsthub-server:v0.4.4-python3.14
    container_name: fsthub_nginx
    environment:
      PUID: ${CONTAINER_PUID}
      GUID: ${CONTAINER_GUID}
      FSTHUB_URL_PREFIX: ${FSTHUB_URL_PREFIX}
    networks:
      - backend
    depends_on:
      - app
    ports:
      - "${CONTAINER_PORT:-8000}:80"
