networks:
  backend:
    driver: bridge

services:
  app:
    image: docker.io/kartinka/fsthub-app:v0.6.0
    container_name: fsthub_django
    environment:
      PUID: ${CONTAINER_PUID}
      GUID: ${CONTAINER_GUID}
      FSTHUB_URL_PREFIX: ${FSTHUB_URL_PREFIX}
      DJANGO_SECRET_KEY: ${DJANGO_SECRET_KEY}
      DJANGO_STATIC_URL: ${DJANGO_STATIC_URL}
      DJANGO_DEBUG: ${DJANGO_DEBUG}
      DJANGO_HOST: ${DJANGO_HOST}
      DJANGO_SUPERUSER_USERNAME: ${DJANGO_SUPERUSER_USERNAME}
      DJANGO_SUPERUSER_PASSWORD: ${DJANGO_SUPERUSER_PASSWORD}
      DJANGO_SUPERUSER_EMAIL: ${DJANGO_SUPERUSER_EMAIL}
    networks:
      - backend
    volumes:
      - ./data:/data

  server:
    image: docker.io/kartinka/fsthub-server:v0.6.0
    container_name: fsthub_nginx
    environment:
      PUID: ${CONTAINER_PUID}
      GUID: ${CONTAINER_GUID}
      FSTHUB_URL_PREFIX: ${FSTHUB_URL_PREFIX}
    networks:
      - backend
    depends_on:
      - app
    ports:
      - "${CONTAINER_PORT:-8000}:80"
