@media (prefers-color-scheme: light) {
  .nav-section {
    background-color: var(--pico-color-slate-100);
  }
}
@media (prefers-color-scheme: dark) {
  .nav-section {
    background-color: var(--pico-color-slate-850);
  }
}
.main-container, tr {
  width: 720px;
}
@media (max-width: 768px) {
  .main-container, tr {
    width: 100%;
    padding: 1rem;
  }
}
.footer-container {
  width: fit-content;
}
.fsth_gh_icon {
    vertical-align: sub;
    padding-right: .25rem;
    display: inline-block;
    width: 1em;
    height: 1.3em;
    margin-right: 0.2rem;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}
