#control-panel {
    width: 100%; 
    display: flex;
}
.control-big {
    width: 60%;
    padding-right: 1rem;
}
.control-small {
    width: 20%; 
}
@media (max-width: 500px) {
    #control-panel {
        display: inline-block;
    }
    .control-big, .control-small {
        display: block;
        width: 100%;
    }
    .control-big {
        padding-right: 0;
    }
}
#fst-input-box, #fst-output-box, select {
    min-width: 100%;
}
.tip {
    cursor: help;
}
.middle-controls {
    margin-bottom: 1rem;
}