#control-panel {
    width: 100%; 
    display: flex;
}
.control-big {
    width: 60%;
    padding-right: 2rem;
}
.control-small {
    width: 20%; 
}
@media (max-width: 500px) {
    #control-panel {
        display: inline-block;
    }
    .control-big, .control-small {
        display: block;
        width: 100%;
    }
    .control-big {
        padding-right: 0;
    }
}
#input-output {
    padding-top: 1rem;
}
#fst-input-box, #fst-output-box, select {
    min-width: 100%;
}
#ratelimit-box {
    color: red;
}
