services:
  app:
    image: docker.io/kartinka/fsthub-app:${FSTHUB_VER}
    build:
      context: ../
      dockerfile: ./docker/app.Dockerfile
      tags:
        - docker.io/kartinka/fsthub-app:latest
      args:
        PY_VER: ${PY_VER}

  server:
    image: docker.io/kartinka/fsthub-server:${FSTHUB_VER}
    build:
      context: ../
      dockerfile: ./docker/server.Dockerfile
      tags:
        - docker.io/kartinka/fsthub-server:latest
      args:
        FSTHUB_VER: ${FSTHUB_VER}
    depends_on:
      - app

  builder:
    image: docker.io/kartinka/hfst-builder:${HFSTBUILDER_VER}
    build:
      dockerfile: ./builder.Dockerfile
      tags:
        - docker.io/kartinka/hfst-builder:latest
      args:
        PY_VER: ${PY_VER}
