{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block title %}FSThub - {% translate "projects" %}{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'frontend/css/browse_projects.css' %}">
{% endblock %}

{% block content %}
<h2>{% translate "Projects" %}</h2>
<div id="searchbar">
    <fieldset role="group">
        <input id="input-textbox" type="search" type="text" />
        <input id="input-button" type="button" value="{% translate "Search" %}" />
    </fieldset>
</div>
<div id="results">
    <div id="results-list"></div>
    <div id="results-footer" class="container"></div>
</div>
{% endblock %}

{% block after_body %}
<script>
    const api_search_url = window.location.origin + "{% url 'api-project-list' %}";
    const project_base_url = window.location.origin + "{% url 'front_project' %}";
</script>
<script src="{% static 'frontend/js/browse_projects.js' %}"></script>
{% endblock %}
