{% extends "base.html" %}
{% load i18n %}
{% load static %}

{% block title %}FSThub - {% translate "project" %}{% endblock %}

{% block content %}
<h3 id="title"></h3>
<div>
    <h4>{% translate "Metadata" %}</h4>
    <ul id="meta-container">
        <li>
            {% translate "Hasn't loaded yet" %}...
        </li>
    </ul>
    <h5>{% translate "Input/output example" %}</h5>
    <ul id="example-container">
        <li>
            {% translate "Hasn't loaded yet" %}...
        </li>
    </ul>
    <a href="{% url 'front_playground' %}{{ transducer_name }}" class="button">
        {% translate "Interact with transducer" %}
    </a>
</div>
{% endblock %}

{% block after_body %}
<script>
    const api_metadata_url = window.location.origin + "{% url 'api-transducer-metadata' %}";
    const api_example_url = window.location.origin + "{% url 'api-transducer-example' %}";
    const selected_transducer = "{{ transducer_name }}";
    const translate = {
        'input': '{% translate "input" %}',
        'output': '{% translate "output" %}',
    };
</script>
<script src="{% static 'frontend/js/transducer.js' %}"></script>
{% endblock %}
