{% extends "base.html" %}
{% load i18n %}

{% block title %}FSThub - home{% endblock %}

{% block content %}
<h3>FSThub</h3>
<p>
{% blocktrans with hfst_href="https://hfst.github.io/" wiki_href="https://en.wikipedia.org/wiki/Finite-state_transducer" trimmed %}
FSThub is a tool that allows to host and interact with <a href="{{ hfst_href }}">HFST</a>
<a href="{{ wiki_href }}">finite-state transducers (FST)</a> via a web-interface.
Its goal is to reduce the technical barrier for researchers
working with compiled FSTs.
{% endblocktrans %}
</p>
<h4>{% translate "About" %}</h4>
<p>
    {% blocktrans with conlab_url='https://lingconlab.ru/' trimmed %}
    Development initiated at
    <a href="{{ conlab_url }}">Linguistic Convergence Laboratory, HSE University</a>
    {% endblocktrans %}
</p>
<h5>{% translate "Technical stack" %}</h5>
<ul>
    <li>
        {% translate "Backend powered by" %}
        <a href="https://www.djangoproject.com/" target="_blank">Django</a>,
        <a href="https://www.django-rest-framework.org/">DRF</a>
        {% translate 'and' %}
        <a href="https://sqlite.org/" target="_blank">Sqlite</a>
    </li> 
    <li>{% translate "Frontend style powered by" %} <a href="https://picocss.com/" target="_blank">Pico</a></li>
</ul>
{% endblock %}