name: Django CI

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      packages: write
    strategy:
      max-parallel: 4
      matrix:
        python-version: [3.13]
    steps:
    - uses: actions/checkout@v4

    - name: Log in to GitHub Container Registry
      uses: docker/login-action@v3.6.0
      with:
        registry: ghcr.io
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}

    - name: Build Docker image
      run: |
        IMAGE_NAME=ghcr.io/${{ github.repository }}/fsthub:latest-python${{ matrix.python-version }}
        docker build -f Dockerfile -t $IMAGE_NAME .

    - name: Run tests inside Docker
      run: |
        IMAGE_NAME=ghcr.io/${{ github.repository }}/fsthub:latest-python${{ matrix.python-version }}
        docker run --rm $IMAGE_NAME 'bash -c "python3 manage.py test -v 2"'

    - name: Push Docker image
      run: |
        IMAGE_NAME=ghcr.io/${{ github.repository }}/fsthub:latest-python${{ matrix.python-version }}
        docker push $IMAGE_NAME
