name: Django CI

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      packages: write
    strategy:
      max-parallel: 3
      matrix:
        python-version: ['3.14', '3.13', '3.12', '3.11', '3.10']
    env:
      IMAGE_NAME: ghcr.io/${{ github.repository }}:latest-python${{ matrix.python-version }}
    steps:
    - uses: actions/checkout@v4

    - name: Log in to GitHub Container Registry
      uses: docker/login-action@v3.6.0
      with:
        registry: ghcr.io
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}

    - name: Build Docker image
      run: |
        docker build -t $IMAGE_NAME --build-arg PY_VER=${{ matrix.python-version }} .

    - name: Run tests inside Docker
      run: |
        docker run --rm $IMAGE_NAME 'bash -c "python3 manage.py test -v 2"'

    - name: Push Docker image
      run: |
        docker push $IMAGE_NAME
